@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function () {
        $("#mainDv> h2").after("<p>is a pre<p>");
    })
</script>
<script type="text/javascript">
    $(function () {
        $("#");
    });
</script>

<div id="mainDv">
    <h2>Auction Index</h2>
    
    <a href="/Auction/Create"><h2>Create→</h2></a>
</div>